// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.fa-user-astronaut:before {
	font-size: 3em;
}

.avatar {
	width: 50px;
}

td span {
	margin-right: 10px;
}

.fa-edit {
	color: blue;
	cursor: pointer;
}

.fa-trash-alt {
	color: red;
	cursor: pointer;
}

.container {
	margin-top: 20px;
	>div {
		margin-bottom: 25px;
	}
}

